<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <style>
        table.one {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td.one, th.one {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
    </style>
</head>
<body>
<p id="adddepartment"></p>

<script th:inline="javascript">
    //<![CDATA[
    function empty() {
        var x, y, z;

        x = document.getElementById("d_id").value;
        y = document.getElementById("name").value;
        if (x == "" || y == "") {
            alert("Uzupełnij wszystkie pola");
            return false;
        };
    }
    //]]>
</script>
<table class="one">
    <tr class="one">
        <td class="one">
<p>Dodaj branżę/zmień nazwę:</p>
<form th:action="@{/adddepartment_added}" method="post">
    <table>
        <tr>
            <td align="right">Symbol branży: </td>
            <td align="left"><input type="text" maxlength="3" name="d_id" id="d_id"/></td>
        </tr>
        <tr>
            <td align="right">Nazwa branży: </td>
            <td align="left"><input type="text" name="name" id="name"/></td>
        </tr>

    </table>
    <input type="submit" value="Dodaj/Zmień nazwę" onclick="return empty()" style="height:30px; width:200px"/>
</form>
        </td>
        <td class="one">
            <p>Usuń branżę:</p>
            <form th:action="@{/erasedepartment}" method="post" id="form3">
                <table>
                    <tr>
                        <select name="d_id" id="deps" form="form3">
                            <option  th:each="dep : ${deps}" th:value="${dep.getId()}" th:text="${dep.getName()}"></option>
                        </select>
                    </tr>
                    <tr style="height:25px" ></tr>
                </table>
                <input type="submit" value="Usuń" style="height:30px; width:200px"/>
            </form>
        </td>
    </tr>
</table>
<div th:if="${added==false}">
    <font color="red">Branża dodana.</font>
</div>
<div th:if="${added}">
    <font color="red">Branża o podanym symbolu już istnieje.</font>
</div>
<form th:action="@{/}" method="get">
    <input type="submit" value="Menu" style="height:30px; width:200px"/>
</form>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Wyloguj" style="height:30px; width:200px"/>
</form>
<div th:if="${deps!=null}">
    <table style="float: left">
        <tr>
            <th>SYMBOL</th>
            <th>NAZWA</th>
        </tr>
        <th:block th:each="dep : ${deps}">
            <tr>
                <td th:text="${dep.getId()}">Onions</td>
                <td th:text="${dep.getName()}">2.41</td>
            </tr>
        </th:block>
    </table>
</div>
</body>
</html>