<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
</head>
<body>
<p id="adduser"></p>

<script th:inline="javascript">
    //<![CDATA[
    daySelect = document.getElementById('deps');
    daySelect.options[daySelect.options.length] = new Option('Text 1', 'Value1');

    function empty() {
        var x, y, z, p,q;

        x = document.getElementById("username").value;
        y = document.getElementById("password").value;
        p = document.getElementById("salary").value;
        if (x == "" || y == "" || p=="") {
            alert("Uzupełnij wszystkie pola");
            return false;
        };
    }
    //]]>
</script>
<p>Dodaj użytkownika:</p>

<form th:action="@{/adduser_added}" method="post" id="form">
    <table>
        <tr>
            <td> Nazwa użytkownika:</td>
            <td> <input type="text" name="username" id="username"/></td>
        </tr>
        <tr>
            <td align="right">Hasło:  </td>
            <td align="left"><input type="text" name="password" id="password"/></td>
        </tr>
        <tr>
            <td align="right">Dział:  </td>
            <td align="left"><select name="department" id="deps" form="form">
                <option  th:each="dep : ${deps}" th:value="${dep.getId()}" th:text="${dep.getName()}"></option>
            </select></td>
        </tr>
        <tr>
            <td align="right">Uprawnienia:  </td>
            <td align="left"><select name="priv" form="form">
                <option value="admin">Administrator</option>
                <option value="user">Użytkownik</option>
            </select></td>
        </tr>
        <tr>
            <td align="right">Stawka:   </td>
            <td align="left"><input type="number" step="0.1" name="salary" id="salary"/></td>
        </tr>
    </table>
    <div><input type="submit" value="Dodaj" onclick="return empty()" style="height:30px; width:200px"/></div>
</form>


<div th:if="${added==false}">
    <font color="red">Użytkownik już istnieje.</font>
</div>

<div th:if="${added}">
    <font color="red">Użytkownik dodany.</font>
</div>
<form th:action="@{/}" method="get">
    <input type="submit" value="Menu" style="height:30px; width:200px"/>
</form>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Wyloguj" style="height:30px; width:200px"/>
</form>

</body>
</html>