<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">

<head>
    <title>Choose worker, project or add an working hours </title>
</head>
<body>
<p id="hello"></p>

<script th:inline="javascript">
    //<![CDATA[
    var array = [[${projects}]];
    if(array.length!=0) {
        var myDiv = document.getElementById("myDiv");

        //Create array of options to be added


        //Create and append select list
        var selectList = document.createElement("select");
        selectList.id = "mySelect";
        document.body.appendChild(selectList);

        //Create and append the options
        for (var i = 0; i < array.length; i++) {
            var option = document.createElement("option");
            option.value = array[i];
            option.text = array[i];
            selectList.appendChild(option);
        }
    }
    //]]>
</script>

<form th:action="@{/userpanel}" method="get">
    <input type="submit" value="Panel użytkownika"  style="height:30px; width:200px"/>
</form>
<div sec:authorize="hasRole('ROLE_ADMIN')">
<form th:action="@{/user}" method="get">
    <input type="submit" value="Analizuj użytkownika"  style="height:30px; width:200px"/>
</form>
<form th:action="@{/project}" method="get">
    <input type="submit" value="Analizuj projekt"  style="height:30px; width:200px"/>
</form>
<form th:action="@{/adduser}" method="get">
    <input type="submit" value="Dodaj użytkownika"  style="height:30px; width:200px"/>
</form>
<form th:action="@{/addproject}" method="get">
    <input type="submit" value="Dodaj projekt"  style="height:30px; width:200px"/>
</form>
<form th:action="@{/adddepartment}" method="get">
    <input type="submit" value="Dodaj dział"  style="height:30px; width:200px"/>
</form>
</div>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Wyloguj"  style="height:30px; width:200px"/>
</form>

</body>
</html>