<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Choose worker, project or add an working hours </title>
    <style>
        input {
            height:60px; 
            width:400px;
            font-size: larger;
        }
    </style>
</head>
<body>
<p id="hello"></p>

<div align="center">
<h1 th:text="${'Jesteś zalogowany jako: ' + name}"></h1>
<form th:action="@{/userpanel}" method="post">
    <input type="hidden" name="date" th:value="${date}"/>
    <input type="submit" value="Panel użytkownika"  />
</form>
<div sec:authorize="hasRole('ROLE_ADMIN')">
    <form th:action="@{/project}" method="get">
        <input type="submit" value="Analizuj temat"  />
    </form>
<form th:action="@{/user}" method="get">
    <input type="submit" value="Analizuj użytkownika"  />
</form>
<form th:action="@{/adduser}" method="get">
    <input type="submit" value="Dodaj użytkownika"  />
</form>
<form th:action="@{/addproject}" method="post">
    <input type="submit" value="Dodaj temat"  />
</form>
<form th:action="@{/adddepartment}" method="get">
    <input type="submit" value="Dodaj branżę"  />
</form>
</div>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Wyloguj"  />
</form>
</div>
</body>
</html>