<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Choose worker, project or add an working hours</title>
</head>
<body>
<h1 th:inline="text">Choose worker, project or add an working hours</h1>  <!-- [[${#httpServletRequest.remoteUser}]]! -->
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<form th:action="@{/project}" method="post">
    <input type="submit" value="Project"/>
</form>
</body>
</html>