<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Login page </title>
</head>
<body>
<div th:if="${param.error}">
    Nieprawidłowa nazwa użytkownika, lub hasło.
</div>
<div th:if="${param.logout}">
    Zostałeś wylogowany.
</div>
<div align="center">
<form th:action="@{/login}" method="post">
        <table>
            <tr>
                <td align="right">Nazwa użytkownika: </td>
                <td align="left"><input type="text" name="username" style="width:170px"/></td>
            </tr>
            <tr>
                <td align="right">Hasło: </td>
                <td align="left"><input type="password" name="password" style="width:170px"/></td>
            </tr>
            <tr>
                <td></td>
                <td align="rigth"><input type="submit" value="Zaloguj" style="height:30px; width:170px"/></td>
            </tr>
        </table>
</form>
</div>
</body>
</html>