<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
</head>
<body>
<p>Wybierz projekt</p>
<p id="project"></p>

<script th:inline="javascript">
    //<![CDATA[
    var array = [[${projects}]];
    if(array.length!=0) {
        var myDiv = document.getElementById("myDiv");

        //Create array of options to be added


        //Create and append select list
        var selectList = document.createElement("select");
        selectList.id = "mySelect";
        document.body.appendChild(selectList);

        //Create and append the options
        for (var i = 0; i < array.length; i++) {
            var option = document.createElement("option");
            option.value = array[i];
            option.text = array[i];
            selectList.appendChild(option);
        }
    }
    //]]>
</script>

<form th:action="@{/project/12}" method="post">
    <input type="submit" value="Otwórz"/>
</form>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Wyloguj"/>
</form>
</body>
</html>