<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
</head>
<body>
<p>Wybierz projekt:</p>
<p id="project"></p>

<form th:action="@{/project}" method="post" id="form_id">
    <div><select name="id" id="proj" form="form_id" style="width:200px">
        <option  th:each="dep : ${projects}" th:value="${dep.getId()}" th:text="${dep.getId()}"></option>
    </select></div>
    <input type="submit" value="Otwórz" style="height:30px; width:200px"/>
</form>
<form th:action="@{/}" method="get">
    <input type="submit" value="Menu" style="height:30px; width:200px"/>
</form>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Wyloguj" style="height:30px; width:200px"/>
</form>

</body>
</html>