<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
        input {
            width: 200px;
            height: 30px;
            font-size: larger;
        }
    </style>
</head>
<body>
<form th:action="@{/}" method="get">
    <input type="submit" value="Menu"/>
</form>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Wyloguj"/>
</form>



    <table style="float: left; border-collapse:collapse" >

            <tr>
                <th></th>
                <th>SUMA GODZIN</th>
                <th>KOSZT</th>
            </tr>
            <th:block>
                <tr style="border-bottom: 3pt solid black">
                    <th>WSZYSTKIE GODZINY</th>
                    <td th:text="${total}">Onions</td>
                    <td th:text="${totalp}">Onions</td>
                </tr>
            </th:block>


        <div th:if="${deps!=null and deps.size()>0}">
        <tr>
            <th>DZIAł</th>
            <th>SUMA GODZIN</th>
            <th>KOSZT</th>
        </tr>
        <th:block th:each="dep : ${deps}">
        <tr>
            <td th:text="${dep.key}">Onions</td>
            <td th:text="${dep.value.key}">2.41</td>
            <td th:text="${dep.value.value}">2.41</td>
        </tr>
        </th:block>
        </div>

<div th:if="${deps2!=null  and deps2.size()>0}" th:remove="tag">
        <tr style="border-top: 3pt solid black">
            <th>PRACOWNIK</th>
            <th>SUMA GODZIN</th>
            <th>KOSZT</th>
        </tr>
        <th:block th:each="dep2 : ${deps2}">
            <tr>
                <td th:text="${dep2.key}">Onions</td>
                <td th:text="${dep2.value.key}">2.41</td>
                <td th:text="${dep2.value.value}">2.41</td>
            </tr>
        </th:block>
</div>
    </table>
</body>
</html>