<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>

<p id="userpanel"></p>
<script type="text/javascript">
    //<![CDATA[
    function empty() {
        var x,y,z;

        x = document.getElementById("num_id").value;
        y = document.getElementById("tim_id").value;
        z = document.getElementById("dat_id").value;
        if (x=="" || y=="" || z=="") {
            alert("Uzupełnij wszystkie pola");
            return false;
        };
        //]]>
    }
</script>
<form th:action="@{/addjob}" method="post">
    <div><label> Data: <input type="date" name="date" id="dat_id"/> </label></div>
    <div><label> Numer projektu: <input type="number" name="project" id="num_id"/> </label></div>
    <div><label> Czas trwania: <input type="number" name="time" id="tim_id"/> </label></div>
    <div><input type="submit" value="Dodaj" onclick="return empty()"/></div>
</form>
<div th:if="${vDate==false}">
    <font color="red">Data nieprawidłowa.</font>
</div>
<div th:if="${vProj==false}">
    <font color="red"> Nie znaleziono projektu.</font>
</div>
<div th:if="${vTime==false}">
    <font color="red">Nieprawidłowy czas.</font>
</div>
<form th:action="@{/showrecords}" method="post">
    <input type="submit" value="Pokaż rekordy"/>
</form>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Wyloguj"/>
</form>
<div th:if="${jobs!=null}">
    <table>
        <tr>
            <th>ID</th>
            <th>PROJEKT</th>
            <th>CZAS</th>
            <th>DATA</th>
        </tr>
        <tr th:each="job : ${jobs}">
            <td th:text="${job.getId()}">Onions</td>
            <td th:text="${job.getProject_id()}">2.41</td>
            <td th:text="${job.getTime()}">yes</td>
            <td th:text="${job.getDate()}"></td>
        </tr>
    </table>
</div>




</body>
</html>